table{
	margin-top: 50px;
	text-align: center;
	/* background: #333; */
	/* color: #fff; */
	border: 10px;
	border-color: solid black;
	border-collapse: collapse;
}

#show td{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color: rgb(89, 235, 155);
}

#btna td input{
	margin-top: 5%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	background: rgb(255, 2, 99) ;

	color: black;
	
	text-transform: capitalize;

}
#btna td input:hover{
	background-color: yellow;
  }


#show th{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	background: rgb(159, 236, 86);
	
}

body{
	background: rgb(243, 207, 107);
}

input{
	background-color: rgb(181, 217, 247);
}